html {
    font-family: var(--base-font);
    scroll-behavior: smooth;
}

header {
    height: 75px;
    background-color: var(--background-secondary);

    position: sticky;
    top: -75px;
    z-index: 2;

    display: flex;
    align-items: center;
}

nav {
    background-color: var(--background-secondary);
    width: 100%;
    height: 32px;
    
    box-shadow: var(--shadow);

    position: sticky;
    top: 0;

    display: grid;
    gap: 1%;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100%;
}

h1 {
    color: var(--title-color);
    margin: 21px;
}

h2 {
    margin: 0;
}

ul {
    padding-left: 15px;
}

hr {
    border: 1px solid;
    border-color: rgb(0, 0, 0);
}

section {
    width: 95vw;
    margin: 20px auto;
    padding: 10px;

    border-radius: var(--normal-border-radius);
    box-shadow: var(--shadow);
}