.menu-item {
    color: var(--title-color);
    font-weight: bold;
    text-decoration: none;

    align-self: center;
    justify-self: center;
}

.iframe {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.iframe iframe {
    width: min(854px, 50%);
}