.menu-item {
    color: var(--title-color);
    font-weight: bold;
    text-decoration: none;

    align-self: center;
    justify-self: center;

    transition: transform 0.2s ease-in-out;
}

.menu-item:hover {
    transform: scale(1.1);
}

.imagem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem img {
    transition: transform 0.2s ease-in-out;
}

.imagem img:hover {
    transform: scale(1.025);
}
