html {
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
}

header {
    height: 75px;
    background-color: #222;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    height: 50px;
    background-color: red;

    position: sticky;
    top: 0;

    z-index: 100;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

nav a {
    color: white;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    padding: 20px;
}

section {
    min-height: 500px;
    padding: 20px;
    margin-bottom: 20px;

    background-color: #eee;
}

.filler {
    height: 2000px;
    background: linear-gradient(
        to bottom,
        #fff,
        #ccc
    );
}
